/* Global Styles (PostCSS) */

.credit-text {
  @apply absolute bottom-3 right-6 text-slate-200 select-none xl:text-xl;
}

.big-picture-card {
  @apply bg-no-repeat bg-cover bg-center w-5/6 my-10 mx-auto h-160 sm:h-96 rounded-2xl relative;
}

.big-picture-nav {
  @apply m-4 absolute bottom-4 left-0 sm:left-4 hover:translate-x-4 transition-all;
}

.big-picture-nav > * {
  @apply font-bold text-4xl select-none text-white hover:text-gray-200;
}
